/*--Responsive--*/
@media (min-width: 1200px) {
    h1.mainheadline {
        font-size: 144px;
        letter-spacing: -9px;
        line-height: 140px;
    }
	
	    i#italicfont {
        font-family: "Instrument Serif", serif;
        letter-spacing: -3px;
    }
	
	    p.subheadline {
        font-size: 40px;
        line-height: 45px;
			letter-spacing: -2px;
        color: #212529;
        font-weight: 300;
        margin: 0px;
        padding: 20px 0px 41px 0px;
    }
	
	    h3.subheadline {
		font-family: "Instrument Serif", serif;
		letter-spacing: 0px;
        font-size: 70px;
        margin: 0px;
        line-height: auto;
    }

    h3.secondaryheadline {
        font-size: 70px;
        letter-spacing: -5px;
        line-height: 74px;
    }

    h3.secondaryheadlineprojects {
        font-size: 36px;
        line-height: 38px;
        font-weight: 300;
        letter-spacing: 0px;
    }

    h3.subheadlineright {
        font-size: 44px;
        margin: 0px;
        line-height: 47px;
        text-align: right;
    }

	    h3.footerheadline {
        font-size: 70px;
        letter-spacing: -3px;
        line-height: 74px;
    }
	
	    h3.footersubheadline {
			font-family: "Instrument Serif", serif;
        font-size: 44px;
			letter-spacing: -1px;
        margin: 0px;
        line-height: 47px;
    }

    i#italicfontbodyfooter {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }
	
	    i#italicfontbodyfooter2 {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }

    i#italicfontbody {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
    }

    .space-between-rows {
        padding: 40px;
    }

    p.footer-left {
        text-align: left;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }

    p.footer-right {
        text-align: right;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }

    p.footer-center {
        text-align: left;
    }

    p.footer-text {
        text-align: left;
        line-height: 22px;
        line-height: 29px;
    }

	    h1.projectnameheadline {
        font-size: 70px;
        letter-spacing: -5px;
        line-height: 74px;
    }

    img#footer {
        float: left;
    }

    .mobilespace {
        display: none;
    }

    .header .logo img{
        max-height: 36px;
    margin-right: 0px;
}

    /*section.body {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }*/
}

@media (min-width: 992px) and (max-width: 1199px) {
    h1.mainheadline {
        font-size: 132px;
        letter-spacing: -9px;
        line-height: 132px;
    }
	
	    i#italicfont {
        font-family: "Instrument Serif", serif;
        letter-spacing: -3px;
    }
	
	    p.subheadline {
        font-size: 40px;
        line-height: 45px;
			letter-spacing: -2px;
        color: #212529;
        font-weight: 300;
        margin: 0px;
        padding: 20px 0px 41px 0px;
    }
	
	    h3.subheadline {
		font-family: "Instrument Serif", serif;
		letter-spacing: 0px;
        font-size: 70px;
        margin: 0px;
        line-height: auto;
    }

    h3.secondaryheadline {
        font-size: 70px;
        letter-spacing: -5px;
        line-height: 74px;
    }

    h3.secondaryheadlineprojects {
        font-size: 36px;
        line-height: 38px;
        font-weight: 300;
        letter-spacing: 0px;
    }

    h3.subheadlineright {
        font-size: 44px;
        margin: 0px;
        line-height: 47px;
        text-align: right;
    }

	    h3.footerheadline {
        font-size: 70px;
        letter-spacing: -3px;
        line-height: 74px;
    }
	
	    h3.footersubheadline {
			font-family: "Instrument Serif", serif;
        font-size: 44px;
			letter-spacing: -1px;
        margin: 0px;
        line-height: 47px;
    }

    i#italicfontbodyfooter {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }
	
	    i#italicfontbodyfooter2 {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }

    i#italicfontbody {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
    }

    .space-between-rows {
        padding: 40px;
    }

    p.footer-left {
        text-align: left;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }

    p.footer-right {
        text-align: right;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }

    p.footer-center {
        text-align: left;
    }

    p.footer-text {
        text-align: left;
        line-height: 22px;
        line-height: 29px;
    }

	    h1.projectnameheadline {
        font-size: 70px;
        letter-spacing: -5px;
        line-height: 74px;
    }

    img#footer {
        float: left;
    }

    .mobilespace {
        display: none;
    }

    .header .logo img{
        max-height: 36px;
    margin-right: 0px;
}

}

@media (min-width: 768px) and (max-width: 991px) {
    h1.mainheadline {
        font-size: 106px;
        letter-spacing: -5px;
        line-height: 104px;
    }

 	    h1.projectnameheadline {
        font-size: 70px;
        letter-spacing: -5px;
        line-height: 74px;
    }

    h3.subheadline {
        font-size: 44px;
        margin: 0px;
        line-height: 47px;
    }

    h3.secondaryheadline {
		font-size: 58px;
        letter-spacing: -5px;
        line-height: 63px;
    }

    h3.secondaryheadlineprojects {
        font-size: 32px;
        line-height: 34px;
        font-weight: 300;
        letter-spacing: 0px;
    }

    h3.subheadlineright {
        font-size: 44px;
        margin: 0px;
        line-height: 47px;
        text-align: right;
    }

    h3.subheadline {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        font-size: 44px;
        margin: 0px;
        line-height: 47px;
    }
	
	    h3.footerheadline {
        font-size: 65px;
        letter-spacing: -3px;
        line-height: 68px;
    }
	
	h3.footersubheadline {
        font-family: "Instrument Serif", serif;
        font-size: 44px;
        letter-spacing: -1px;
        margin: 0px;
        line-height: 47px;
    }

    i#italicfont {
        font-family: "Instrument Serif", serif;
        letter-spacing: -2px;
    }

    i#italicfontbodyfooter {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }
	
	i#italicfontbodyfooter2 {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }

    i#italicfontbody {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
    }

    p.subheadline {
 font-size: 40px;
        line-height: 39px;
        letter-spacing: -2px;
        color: #212529;
        font-weight: 300;
        margin: 0px;
        padding: 20px 0px 41px 0px;
    }

    .space-between-rows {
        padding: 0px;
        /*border-bottom: 1px solid #e5e5e5;*/
        margin-bottom: 80px;
    }

    p.footer-left {
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    p.footer-text {
        text-align: left;
        line-height: 22px;
        line-height: 29px;
    }

    .mobilespace {
        padding: 20px;
    }

    p.footer-center {
        text-align: left;
    }

    p.footer-right {
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }

    img#footer {
        float: left;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

	    h1.mainheadline {
        font-size: 98px;
        letter-spacing: -5px;
        line-height: 86px;
    }

	    h1.projectnameheadline {
        font-size: 65px;
        letter-spacing: -5px;
        line-height: 68px;
    }

    h3.secondaryheadlineprojects {
        font-size: 32px;
        line-height: 34px;
        font-weight: 300;
        letter-spacing: 0px;
    }

    h3.secondaryheadline {
        font-size: 46px;
        letter-spacing: -4px;
        line-height: 48px;
    }

    h3.subheadlineright {
        /*font-size: 44px;
        line-height: 47px;
        */
        margin: 0px;
        text-align: right;
    }

    h3.subheadline {
		font-family: "Instrument Serif", serif;
		letter-spacing: -1px;
        font-size: 40px;
        margin: 0px;
        line-height: 43px;
    }
	
	h3.footersubheadline {
        font-family: "Instrument Serif", serif;
        font-size: 44px;
        letter-spacing: -1px;
        margin: 0px;
        line-height: 47px;
    }
	
	h3.footerheadline {
        font-size: 50px;
        letter-spacing: -3px;
        line-height: 60px;
    }

    i#italicfont {
        font-family: "Instrument Serif", serif;
        letter-spacing: -2px;
    }

    i#italicfontbodyfooter {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }
	
		i#italicfontbodyfooter2 {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }

    i#italicfontbody {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
    }

    p.subheadline {
        font-size: 33px;
        line-height: 34px;
        letter-spacing: -2px;
        color: #212529;
        font-weight: 300;
        margin: 0px;
        padding: 20px 0px 41px 0px;
    }

    .space-between-rows {
        padding: 0px;
        /*border-bottom: 1px solid #e5e5e5;*/
        margin-bottom: 80px;
    }

    p.footer-left {
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    
        .image-mobile-space {
       padding-bottom: 40px;
    }

    .mobilespace {
        padding: 20px;
    }

    p.footer-center {
        text-align: center;
    }

    p.footer-text {
        line-height: 40px;
    }

    p.footer-right {
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }

    img#footer {
        text-align: center;
        padding-bottom: 50px;
    }

    .mb-5 {
        margin-bottom: 1rem !important;
    }
}

/* MOBILE */
@media (max-width: 575px) {

    .mb-5{
       margin-bottom: 0rem !important;
    }

    .header .logo img {
    max-height: 27px;
    margin-right: 0px;
}

    section.bigwins{
padding: 3rem 0rem 3rem 0rem;
    }
    
    h1.mainheadline {
        font-size: 75px;
        letter-spacing: -5px;
        line-height: 75px;
    }

	    h1.projectnameheadline {
        font-size: 65px;
        letter-spacing: -5px;
        line-height: 68px;
    }

    h3.secondaryheadline {
        font-size: 49px;
        letter-spacing: -4px;
        line-height: 53px;
    }

    h3.secondaryheadlineprojects {
        font-size: 30px;
        line-height: 31px;
        font-weight: 300;
        letter-spacing: 0px;
    }

    h3.subheadline {
		font-family: "Instrument Serif", serif;
		letter-spacing: -1px;
        font-size: 38px;
        margin: 0px;
        line-height: 40px;
    }
	
		h3.footersubheadline {
        font-family: "Instrument Serif", serif;
        font-size: 44px;
        letter-spacing: -1px;
        margin: 0px;
        line-height: 47px;
    }
	
	h3.footerheadline {
        font-size: 50px;
        letter-spacing: -3px;
        line-height: 60px;
    }


     i#italicfont {
        font-family: "Instrument Serif", serif;
        letter-spacing: -2px;
    }

    i#italicfontbodyfooter {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }
	
	i#italicfontbodyfooter2 {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
        color: #7AFF87;
    }

    i#italicfontbody {
        font-family: "Instrument Serif", serif;
        letter-spacing: 0px;
    }

    p.subheadline {
        font-size: 33px;
        line-height: 34px;
        letter-spacing: -2px;
        color: #212529;
        font-weight: 300;
        margin: 0px;
        padding: 20px 0px 41px 0px;
    }

    .space-between-rows {
        padding: 0px;
        /*border-bottom: 1px solid #e5e5e5;*/
        margin-bottom: 80px;
    }

    p.footer-left {
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .masthead {
        padding-top: 8rem;
    }

    .mobilespace {
        padding-bottom: 20px;
    }
    
    .image-mobile-space {
       padding-bottom: 40px;
    }

    p.footer-center {
        text-align: center;
    }

    p.footer-text {
        line-height: 40px;
    }

    p.footer-right {
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }

    img#footer {
        text-align: center;
        padding-bottom: 50px;
    }

    .px-5 {
        padding: 0px !important;
    }
}

/*--Responsive--*/


.breadcrumb {
    letter-spacing: -.6px;
}

a.btn.btn-primary:hover {
    text-decoration: none;
}

a.top {
    color: #fff;
}

a.btn.btn-secondary:hover {
    text-decoration: none;
}

.medium-space-rows {
    padding: 20px;
}

a.hyperlink {
    letter-spacing: -0.5px;
    display: flex;
}

p.hyperlink {
    letter-spacing: -.5px;
    font-size: 18px;
}

span.label.label-default {
    border: 1px solid #15191D;
    padding: 1px 5px;
    border-radius: 5px;
    letter-spacing: -.8px;
    font-size: 18px;
    line-height: 13px;
    font-weight: 600;
    display: ruby-text;
}

header.breadcrumb {
    padding-top: 10rem;
}

section.bigwins {
    padding: 5rem 0rem 3rem 0rem;
}

p.lg-body-text {
    font-size: 32px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: -1px;
}

/* Marquee Effect */
.marquee-wrapper {
    overflow: hidden;
    background: #fff;
    /* optional */
    padding: 20px 0;
}

.marquee-track {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll 25s linear infinite;
}

.marquee-item {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.marquee-item img {
    max-height: 400px;
    width: auto;
    /*opacity: 0.85;
  transition: opacity 0.3s ease;*/
}

.marquee-item img:hover {
    opacity: 1;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.marquee-wrapper:hover .marquee-track {
    animation-play-state: paused;
}

/* Marquee Effect */


/* Fonts */
:root {
    --default-font: "Public Sans", sans-serif;
    --heading-font: "Instrument Serif", serif;
    --nav-font: "Public Sans", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
    --background-color: #ffffff;
    /* Background color for the entire website, including individual sections */
    --default-color: #15191D;
    /* Default color used for the majority of the text content across the entire website */
    --heading-color: #15191D;
    /* Color for headings, subheadings and title throughout the website */
    --accent-color: #15191D;
    /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff;
    /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff;
    /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: #15191D;
    /* The default color of the main navmenu links */
    --nav-hover-color: #575757;
    /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff;
    /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff;
    /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #575757;
    /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #15191D;
    /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
    --background-color: #f5f6ff;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #0e1030;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #0f302f;
    --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

h1,
h3,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}


/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
    --background-color: rgba(255, 255, 255, 0);
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 20px 0;
    transition: all 0.5s;
    z-index: 997;
}

.header .header-container {
    background: var(--surface-color);
    border-radius: 50px;
    /*padding: 10px 15px 10px 15px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);*/
}

.header .logo {
    line-height: 1;
}

.header .logo img {
    max-height: 34px;
    margin-right: 0px;
}

.header .logo h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 400;
    color: var(--heading-color);
}

.header .btn-stayintouch,
.header .btn-stayintouch:focus {
    color: #fff;
    background: #15191D;
    border: 1px solid #15191D;
    font-size: 16px;
    padding: 10px 10px;
    margin: 0;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
    /*letter-spacing: -.5px;*/
}

.header .btn-stayintouch:hover,
.header .btn-stayintouch:focus:hover {
        color: #15191D;
    background: #7AFF87;
    border: 1px solid #7AFF87;
    font-size: 16px;
    padding: 10px 30px;
    margin: 0;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}




@media (max-width: 1200px) {
    .header {
        padding-top: 10px;
    }

    .header .header-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        padding: 10px 10px 10px 10px;
    }

    .header .logo {
        order: 1;
    }

    .header .btn-stayintouch {
        order: 2;
        margin: 0 10px 0 0;
        /*padding: 6px 10px;*/
    }

    .header .navmenu {
        order: 3;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu a,
    .navmenu a:focus {
        color: var(--nav-color);
        padding: 18px 15px;
        font-size: 16px;
        font-family: var(--nav-font);
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .navmenu li:last-child a {
        /*padding-right: 0;*/
    }

    .navmenu li:hover > a,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--nav-hover-color);
        text-decoration: none;
    }

    .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 18px;
        text-transform: none;
        color: var(--nav-dropdown-color);
    }

    .navmenu .dropdown ul a i {
        font-size: 12px;
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover > a {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .navmenu .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: var(--nav-color);
        font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

        .header .header-container {
        margin-left: 9px;
        margin-right: 9px;
        margin-top: 5px;
        padding: 10px 10px 10px 10px;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: var(--nav-mobile-background-color);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu a,
    .navmenu a:focus {
        color: var(--nav-dropdown-color);
        padding: 10px 20px;
        font-family: var(--nav-font);
        font-size: 17px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }

    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        background-color: var(--accent-color);
        color: var(--contrast-color);
    }

    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        transform: rotate(180deg);
    }

    .navmenu .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        box-shadow: none;
        transition: all 0.5s ease-in-out;
    }

    .navmenu .dropdown ul ul {
        background-color: rgba(33, 37, 41, 0.1);
    }

    .navmenu .dropdown > .dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle {
        color: #fff;
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu > ul {
        display: block;
    }
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
    color: var(--default-color);
    background-color: var(--background-color);
    scroll-margin-top: 90px;
    overflow: clip;
}

@media (max-width: 1199px) {

    section,
    .section {
        scroll-margin-top: 66px;
    }
}



/*--------------------------------------------------------------
# Starter Section Section
--------------------------------------------------------------*/
.starter-section {
    /* Add your styles here */
}
